@import "~normalize.css/normalize.css";
@import url('https://fonts.googleapis.com/css?family=Share:400,700&subset=latin-ext');

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    background-color: #000000;
    color: #fff;
    font-family: 'Share', cursive;
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: inherit;
    display: block;
    font-size: 17px;
    overflow: hidden;
}